src/bin/*
src/obj/*
bin/*
tests/bin/*
tests/obj/*
*.suo
packages/*
TestResults.xml
temp/*
.paket/paket.exe
*.orig
docs/output
.fake
src/FSharp.Charting.Controls/bin/*
src/FSharp.Charting.Controls/obj/*
src/FSharp.Charting/bin/*
src/FSharp.Charting/obj/*
src/FSharp.Charting.Wpf/bin/
src/FSharp.Charting.Wpf/obj/
