source https://nuget.org/api/v2

framework: net471

nuget FSharp.Core ~> 4.5.0
nuget FSharp.Formatting
nuget FsXaml.Wpf
nuget MathNet.Numerics
nuget NUnit
nuget NUnit.Runners
nuget OxyPlot.Wpf      < 2000 prerelease
nuget OxyPlot.Core     < 2000 prerelease
nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Control.AsyncSeq
nuget FSharp.Control.Reactive
nuget System.Reactive
nuget FSharp.ViewModule.Core
nuget WpfControls.AutoCompleteTextBox
