source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FsXaml.Wpf
nuget NUnit
nuget NUnit.Runners 
nuget OxyPlot.GtkSharp 1.0.0-unstable2100
nuget OxyPlot.Wpf 1.0.0-unstable2100
nuget OxyPlot.Core 1.0.0-unstable2100
nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Control.AsyncSeq
nuget FSharp.Control.Reactive
nuget Rx-Xaml
nuget FSharp.ViewModule.Core
nuget WpfControls.AutoCompleteTextBox