source https://nuget.org/api/v2

framework: net461

nuget FSharp.Core
nuget FSharp.Formatting
nuget FsXaml.Wpf
nuget MathNet.Numerics
nuget NUnit
nuget NUnit.Runners
nuget OxyPlot.GtkSharp
nuget OxyPlot.Wpf
nuget OxyPlot.Core
nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Control.AsyncSeq
nuget FSharp.Control.Reactive
nuget Rx-Xaml
nuget FSharp.ViewModule.Core
nuget WpfControls.AutoCompleteTextBox
